$baseBackgroundColor: #1D1D1D;
$componentBackgroundColor: #262626;
$strokeColor: #4D4D4D;
$gradientColors: #3C3C3C 0%, #444444 51%, #333333 100%;

$modalColor: #26262680;


$white: #FFFFFF;
$opacityWhite: #FFFFFF10;


$greenFolder: #7FAA65;
$lightGreenFolder: #B8D99835;
$brownFolder: #AA9765;
$lightBrownFolder: #D9BB9835;
$purpleFolder: #656CAA;
$lightPurpleFolder: #7481ED35;
$hoverBackgroundFolder: #2F2F2F;

$whiteTextColor: #FFFFFF;
$blackTextColor: #2D2D2D;

$buttonColor: #FA7272;
$hoverButtonColor: #FF8888;
$activeButtonColor: #CE6D6D;
$whiteButtonColor: #FFFFFF;
$whiteHoverButtonColor: #cecece;
$whiteActiveButtonColor: #8f8f8f;


